---
import RyuChanConfig from "../../ryuchan.config";
import BaseHead from "../components/common/BaseHead.astro";
---

<html lang={RyuChanConfig.locale}>
  <BaseHead />
  <body class="overflow-y-hidden">
    <slot />
  </body>
</html>

<style>
  body {
    @apply bg-[var(--background-color)];
  }
</style>
