---
import RyuChanConfig from "../../ryuchan.config";
import BaseHead from "../components/common/BaseHead.astro";
import MusicPlayer from "../components/MusicPlayer/index.svelte";
import SakanaWidget from "../components/SakanaWidget/index.svelte";
---

<html lang={RyuChanConfig.locale}>
  <BaseHead />
  <body class="overflow-y-hidden">
    <slot />
    {RyuChanConfig.musicPlayer?.enable && <MusicPlayer client:load />}
    {RyuChanConfig.sakanaWidget?.enable && <SakanaWidget client:load />}
  </body>
</html>

<style>
  body {
    @apply bg-[var(--background-color)];
  }
</style>
